@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

:root{
	--font-size-xsmall: 12px;
	--font-size-small: 14px;
	--font-size-normal: 16px;
	--font-size-large: 18px;
	--font-size-xlarge: 24px;
	--font-size-xxlarge: 30px;
	--font-size-title: 36px;
	
	--font-weight-thin: 100;
	--font-weight-light: 300;
	--font-weight-reguler: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-black: 900;
	
	--color-white: #fff;
	--color-black: #111;
	--color-point-hover: #98c2f6;
	--color-point-active: #7590dd;
	--color-point: #87aeee;
	--color-update-hover: #8be576;
	--color-update-active: #75d25b;
	--color-update: #74db66;
	--color-delete-hover: #ef5c3f;
	--color-delete-active: #da2021;
	--color-delete: #e93030;
	--color-gray: #e6e6e6;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}
a{
	text-decoration: none;
	color: var(--color-black);
}
body{
	min-height: 100vh;
	position: relative;
}
ul{
	list-style: none;
}