@charset "UTF-8";

/* 텍스트 */
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}


/* 플렉스 */
.flex{
	display: flex;
}
.flex.justify-between{
	justify-content: space-between;
}
.flex.justify-center{
	justify-content: center;
}
.flex.justify-end{
	justify-content: flex-end;
}

.flex.item-center{
	align-items: center;
}

.flex.dir-col{
	flex-direction: column;
}

.flex > .ratio-1{
	flex-basis: 10%;
}
.flex > .ratio-2{
	flex-basis: 20%;
}
.flex > .ratio-3{
	flex-basis: 30%;
}
.flex > .ratio-4{
	flex-basis: 40%;
}
.flex > .ratio-5{
	flex-basis: 50%;
}
.flex > .ratio-6{
	flex-basis: 60%;
}
.flex > .ratio-7{
	flex-basis: 70%;
}
.flex > .ratio-8{
	flex-basis: 80%;
}
.flex > .ratio-9{
	flex-basis: 90%;
}
.flex > .ratio-10{
	flex-basis: 100%;
}

/* 버튼 */
.btn{
	display: inline-block;
	padding: 10px 20px;
	border-radius: 15px;
	cursor: pointer;
	border: none;
}
.btn.mini-btn{
	padding: 5px 10px;
	font-size: var(--font-size-small);
	border-radius: 8px;
}

.btn.point-btn{
	background: var(--color-point);
	color: var(--color-white);
}
.btn.point-btn:hover {
	background: var(--color-point-hover);
}
.btn.point-btn:active {
	background: var(--color-point-active);
}

.btn.update-btn{
	background: var(--color-update);
	color: var(--color-white);
}
.btn.update-btn:hover {
	background: var(--color-update-hover);
}
.btn.update-btn:active {
	background: var(--color-update-active);
}

.btn.delete-btn{
	background: var(--color-delete);
	color: var(--color-white);
}
.btn.delete-btn:hover {
	background: var(--color-delete-hover);
}
.btn.delete-btn:active {
	background: var(--color-delete-active);
}

.btn.confirm-btn{
	background: var(--color-confirm);
	color: var(--color-white);
}
.btn.confirm-btn:hover {
	background: var(--color-confirm-hover);
}
.btn.confirm-btn:active {
	background: var(--color-confirm-active);
}

.btn.sub-btn{
	background: var(--color-sub);
	color: var(--color-white);
	font-family: 'Cute Font', cursive;
	font-size: var(--font-size-xlarge);
}
.btn.sub-btn:hover {
	background: var(--color-sub-hover);
}
.btn.sub-btn:active {
	background: var(--color-sub-active);
}

/* 높이 */
.h-100p{
	height: 100%;
}

.w-100p{
	width: 100%;
}

.user-name{
	padding: 8px 0;
}
.user-name span{
	color: var(--color-point);
}

.pagnation li a{
	padding: 5px 10px;
	border-radius: 5px;
}
.pagnation li a:hover{
	text-decoration: underline;
}
.pagnation .active{
	background: var(--color-gray);
}

/* 모달 */
.modal{
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgb(0, 0, 0, 0.5);
	display: none;
}
.modal ul{
	position: fixed;
	padding: 20px 30px;
	border-radius: 15px;
	background: var(--color-white);
	box-shadow: 2px 2px 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden{
	display: none;
}

/* 글자색 */
.point-text{
	color: var(--color-point);
}
.confirm-text{
	color: var(--color-confirm);
}
.sub-text{
	color: var(--color-sub);
}
.comment-text{
	color: var(--color-comment);
}
.gray-text{
	color: var(--color-gray-text);
}

/* 글자 굵기 */
.font-thin{
	font-weight: var(--font-weight-thin);
}
.font-light{
	font-weight: var(--font-weight-light);
}
.font-reguler{
	font-weight: var(--font-weight-reguler);
}
.font-medium{
	font-weight: var(--font-weight-medium);
}
.font-bold{
	font-weight: var(--font-weight-bold);
}
.font-black{
	font-weight: var(--font-weight-black);
}

/* 글자 크기 */
.font-xsmall{
	font-size: var(--font-size-xsmall);
}
.font-small{
	font-size: var(--font-size-small);
}
.font-normal{
	font-size: var(--font-size-normal);
}
.font-large{
	font-size: var(--font-size-large);
}
.font-xlarge{
	font-size: var(--font-size-xlarge);
}
.font-xxlarge{
	font-size: var(--font-size-xxlarge);
}
.font-title{
	font-size: var(--font-size-title);
}

.py-5{
	padding: 5px 0px;
}
.py-10{
	padding: 10px 0px;
}
.py-15{
	padding: 15px 0px;
}
.py-20{
	padding: 20px 0px;
}
.py-25{
	padding: 25px 0px;
}
.py-30{
	padding: 30px 0px;
}

.pb-5{
	padding-bottom: 5px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-25{
	padding-bottom: 25px;
}
.pb-30{
	padding-bottom: 30px;
}

.pt-5{
	padding-top: 5px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}
.pt-25{
	padding-top: 25px;
}
.pt-30{
	padding-top: 30px;
}

.p-5{
	padding: 5px;
}
.p-10{
	padding: 10px;
}
.p-15{
	padding: 15px;
}
.p-20{
	padding: 20px;
}
.p-25{
	padding: 25px;
}
.p-30{
	padding: 30px;
}

/*index*/
.main_visual{
	background: var(--color-main-visual1);
	display: flex;
	justify-content: center;
}
.main_visual img{
	display: block;
	user-select: none;
	-webkit-user-drag: none;
}
.sub-wrapper{
	background: var(--color-gray-active);
	text-align: center;
	padding: 20px 0; 
}
.sub-wrapper p{
	padding: 10px 0px;
}
.sub-wrapper p:nth-child(3) {
	padding-bottom: 40px;
}
.card{
	display: flex;
	background: #eaf1fc;
	border-radius: 15px;
	width: 780px;
	padding: 70px 50px;
}
.card .card-text{
	padding-left: 30px;
}
.card .card-text p{
	padding: 5px 0;
}
.card img{
	-webkit-user-drag: none;
}
.review-wrapper{
	background: #f8ce9e;
	padding: 60px 0 20px 0;
}

.review-card{
	width: 300px;
	height: 410px;
	border-radius: 15px;
	background: #fcf2ea;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 15px;
	cursor: pointer;
}
.review-card > div:first-child {
	flex-basis: 60%;
}
.review-card > div:first-child img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.review-card > div:last-child {
	flex-basis: 40%;
	padding: 10px;
}
.review-card > div:last-child p{
	height: 95px;
	overflow: hidden;
}
/* 로그인 선택창 */
.back-gray{
	background: #f8f8f8;
}
.back-white{
	background: var(--color-white);
}
.pos-re{
	position: relative;
}
.pos-center{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
.radius-box{
	border-radius: 15px;
}
.select-list{
	border-radius: 15px;
	background: var(--color-white);
	padding: 45px 50px;
}
.select-list > li{
	position: relative;
}
.select-list > li > img{
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translate(0, -50%);
	width: 30px;
	height: 30px;
}
.select-list > li:not(:first-child){
	padding: 15px 0;
	text-align: center;
}
.select-list > li:first-child{
	padding-bottom: 30px;
}
.select-list > li > a{
	width: 500px;
	border: var(--color-gray) solid 1px;
	border-radius: 80px;
	padding: 30px 0;
	display: block;
	cursor: pointer;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-large);
}