@charset "UTF-8";

/* 텍스트 */
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}


/* 플렉스 */
.flex{
	display: flex;
}
.flex.justify-between{
	justify-content: space-between;
}

.flex.item-center{
	align-items: center;
}

.flex.dir-col{
	flex-direction: column;
}

.flex > .ratio-1{
	flex-basis: 10%;
}
.flex > .ratio-2{
	flex-basis: 20%;
}
.flex > .ratio-3{
	flex-basis: 30%;
}
.flex > .ratio-4{
	flex-basis: 40%;
}
.flex > .ratio-5{
	flex-basis: 50%;
}
.flex > .ratio-6{
	flex-basis: 60%;
}
.flex > .ratio-7{
	flex-basis: 70%;
}
.flex > .ratio-8{
	flex-basis: 80%;
}
.flex > .ratio-9{
	flex-basis: 90%;
}
.flex > .ratio-10{
	flex-basis: 100%;
}

/* 버튼 */
.btn{
	display: inline-block;
	padding: 10px 20px;
}

.btn.point-btn{
	background: var(--color-point);
	color: var(--color-white);
	border-radius: 15px;
}
.btn.point-btn:hover {
	background: var(--color-point-hover);
}
.btn.point-btn:active {
	background: var(--color-point-active);
}

/* 높이 */
.h-100p{
	height: 100%;
}

.w-100p{
	width: 100%;
}

.user-name{
	padding: 8px 0;
}
.user-name span{
	color: var(--color-point);
}