@charset "UTF-8";

/* 텍스트 */
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.link-deco:hover{
	text-decoration: underline;
}

.inline-block{
	display: inline-block;
}

/* 플렉스 */
.flex{
	display: flex;
}
.flex.justify-between{
	justify-content: space-between;
}
.flex.justify-center{
	justify-content: center;
}
.flex.justify-end{
	justify-content: flex-end;
}

.flex.item-center{
	align-items: center;
}

.flex.dir-col{
	flex-direction: column;
}

.flex.wrap{
	flex-wrap: wrap;
}

.flex > .ratio-1{
	flex-basis: 10%;
}
.flex > .ratio-2{
	flex-basis: 20%;
}
.flex > .ratio-3{
	flex-basis: 30%;
}
.flex > .ratio-4{
	flex-basis: 40%;
}
.flex > .ratio-5{
	flex-basis: 50%;
}
.flex > .ratio-6{
	flex-basis: 60%;
}
.flex > .ratio-7{
	flex-basis: 70%;
}
.flex > .ratio-8{
	flex-basis: 80%;
}
.flex > .ratio-9{
	flex-basis: 90%;
}
.flex > .ratio-10{
	flex-basis: 100%;
}

/* 버튼 */
.btn{
	display: inline-block;
	padding: 10px 20px;
	border-radius: 15px;
	cursor: pointer;
	border: none;
}
.btn.mini-btn{
	padding: 5px 10px;
	font-size: var(--font-size-small);
	border-radius: 8px;
}

.btn.point-btn{
	background: var(--color-point);
	color: var(--color-white);
}
.btn.point-btn:hover {
	background: var(--color-point-hover);
}
.btn.point-btn:active {
	background: var(--color-point-active);
}

.btn.update-btn{
	background: var(--color-update);
	color: var(--color-white);
}
.btn.update-btn:hover {
	background: var(--color-update-hover);
}
.btn.update-btn:active {
	background: var(--color-update-active);
}

.btn.delete-btn{
	background: var(--color-delete);
	color: var(--color-white);
}
.btn.delete-btn:hover {
	background: var(--color-delete-hover);
}
.btn.delete-btn:active {
	background: var(--color-delete-active);
}

.btn.confirm-btn{
	background: var(--color-confirm);
	color: var(--color-white);
}
.btn.confirm-btn:hover {
	background: var(--color-confirm-hover);
}
.btn.confirm-btn:active {
	background: var(--color-confirm-active);
}

.btn.sub-btn{
	background: var(--color-sub);
	color: var(--color-white);
	font-family: 'Cute Font', cursive;
	font-size: var(--font-size-xlarge);
}
.btn.sub-btn:hover {
	background: var(--color-sub-hover);
}
.btn.sub-btn:active {
	background: var(--color-sub-active);
}

/* 높이 */
.h-100p{
	height: 100%;
}


.w-100p{
	width: 100%;
}

.user-name{
	padding: 8px 0;
}
.user-name span{
	color: var(--color-point);
}

.pagnation li a{
	padding: 5px 10px;
	border-radius: 5px;
}
.pagnation li a:hover{
	text-decoration: underline;
}
.pagnation .active{
	background: var(--color-gray);
}

/* 모달 */
.modal{
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgb(0, 0, 0, 0.5);
	display: none;
}
.modal ul{
	position: fixed;
	padding: 20px 30px;
	border-radius: 15px;
	background: var(--color-white);
	box-shadow: 2px 2px 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden{
	display: none;
}

/* 글자색 */
.point-text{
	color: var(--color-point);
}
.confirm-text{
	color: var(--color-confirm);
}
.sub-text{
	color: var(--color-sub);
}
.comment-text{
	color: var(--color-comment);
}
.gray-text{
	color: var(--color-gray-text);
}

/* 글자 굵기 */
.font-thin{
	font-weight: var(--font-weight-thin);
}
.font-light{
	font-weight: var(--font-weight-light);
}
.font-reguler{
	font-weight: var(--font-weight-reguler);
}
.font-medium{
	font-weight: var(--font-weight-medium);
}
.font-bold{
	font-weight: var(--font-weight-bold);
}
.font-black{
	font-weight: var(--font-weight-black);
}

/* 글자 크기 */
.font-xsmall{
	font-size: var(--font-size-xsmall);
}
.font-small{
	font-size: var(--font-size-small);
}
.font-normal{
	font-size: var(--font-size-normal);
}
.font-large{
	font-size: var(--font-size-large);
}
.font-xlarge{
	font-size: var(--font-size-xlarge);
}
.font-xxlarge{
	font-size: var(--font-size-xxlarge);
}
.font-title{
	font-size: var(--font-size-title);
}

.py-5{
	padding: 5px 0px;
}
.py-10{
	padding: 10px 0px;
}
.py-15{
	padding: 15px 0px;
}
.py-20{
	padding: 20px 0px;
}
.py-25{
	padding: 25px 0px;
}
.py-30{
	padding: 30px 0px;
}
.py-35{
	padding: 35px 0px;
}
.py-40{
	padding: 40px 0px;
}
.py-45{
	padding: 45px 0px;
}
.py-50{
	padding: 50px 0px;
}

.px-5{
	padding: 0px 5px;
}
.px-10{
	padding: 0px 10px;
}
.px-15{
	padding: 0px 15px;
}
.px-20{
	padding: 0px 20px;
}
.px-25{
	padding: 0px 25px;
}
.px-30{
	padding: 0px 30px;
}
.px-35{
	padding: 0px 35px;
}
.px-40{
	padding: 0px 40px;
}
.px-45{
	padding: 0px 45px;
}
.px-50{
	padding: 0px 50px;
}

.pb-5{
	padding-bottom: 5px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-25{
	padding-bottom: 25px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-35{
	padding-bottom: 35px;
}
.pb-40{
	padding-bottom: 40px;
}
.pb-45{
	padding-bottom: 45px;
}
.pb-50{
	padding-bottom: 50px;
}

.pt-5{
	padding-top: 5px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}
.pt-25{
	padding-top: 25px;
}
.pt-30{
	padding-top: 30px;
}
.pt-35{
	padding-top: 35px;
}
.pt-40{
	padding-top: 40px;
}
.pt-45{
	padding-top: 45px;
}
.pt-50{
	padding-top: 50px;
}

.pr-5{
	padding-right: 5px;
}
.pr-10{
	padding-right: 10px;
}
.pr-15{
	padding-right: 15px;
}
.pr-20{
	padding-right: 20px;
}
.pr-25{
	padding-right: 25px;
}
.pr-30{
	padding-right: 30px;
}
.pr-35{
	padding-right: 35px;
}
.pr-40{
	padding-right: 40px;
}
.pr-45{
	padding-right: 45px;
}
.pr-50{
	padding-right: 50px;
}

.pl-5{
	padding-left: 5px;
}
.pl-10{
	padding-left: 10px;
}
.pl-15{
	padding-left: 15px;
}
.pl-20{
	padding-left: 20px;
}
.pl-25{
	padding-left: 25px;
}
.pl-30{
	padding-left: 30px;
}
.pl-35{
	padding-left: 35px;
}
.pl-40{
	padding-left: 40px;
}
.pl-45{
	padding-left: 45px;
}
.pl-50{
	padding-left: 50px;
}

.p-5{
	padding: 5px;
}
.p-10{
	padding: 10px;
}
.p-15{
	padding: 15px;
}
.p-20{
	padding: 20px;
}
.p-25{
	padding: 25px;
}
.p-30{
	padding: 30px;
}
.p-35{
	padding: 35px;
}
.p-40{
	padding: 40px;
}
.p-45{
	padding: 45px;
}
.p-50{
	padding: 50px;
}

.bb-1{
	border-bottom: 1px solid var(--color-gray-text);
}
.bt-1{
	border-top: 1px solid var(--color-gray-text);
}

.b-1{
	border: 1px solid var(--color-gray-text);
}

.b-g{
	border-color: var(--color-gray);
}
.bb-none{
	border-bottom: none;
}

/*index*/
.main_visual{
	background: var(--color-main-visual1);
	display: flex;
	justify-content: center;
}
.main_visual img{
	display: block;
	user-select: none;
	-webkit-user-drag: none;
}
.sub-wrapper{
	background: var(--color-gray-active);
	text-align: center;
	padding: 20px 0; 
}
.sub-wrapper p{
	padding: 10px 0px;
}
.sub-wrapper p:nth-child(3) {
	padding-bottom: 40px;
}
.card{
	display: flex;
	background: #eaf1fc;
	border-radius: 15px;
	width: 780px;
	padding: 70px 50px;
}
.card .card-text{
	padding-left: 30px;
}
.card .card-text p{
	padding: 5px 0;
}
.card img{
	-webkit-user-drag: none;
}
.review-wrapper{
	background: #f8ce9e;
	padding: 60px 0 40px 0;
}

.review-card{
	width: 300px;
	height: 410px;
	border-radius: 15px;
	background: #fcf2ea;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 15px;
	cursor: pointer;
}
.review-card:hover{
	background: #ecd7cf;
}
.review-card > div:first-child {
	flex-basis: 60%;
	overflow: hidden;
}
.review-card > div:first-child img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	background: var(--color-white);
}
.review-card > div:last-child {
	flex-basis: 40%;
	padding: 10px;
}
/* 로그인 선택창 */
.back-gray{
	background: #ebebeb;
}
.back-white{
	background: var(--color-white);
}
.back-blue{
	background: #e3ebf8;
}
.pos-re{
	position: relative;
}
.pos-center{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
.pos-top{
	top: 0px;
	position: sticky;
}
.radius-box{
	border-radius: 15px;
}
.select-list{
	border-radius: 15px;
	background: var(--color-white);
	padding: 45px 50px;
}
.select-list > li{
	position: relative;
}
.select-list > li > img{
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translate(0, -50%);
	width: 30px;
	height: 30px;
}
.select-list > li:not(:first-child){
	padding: 15px 0;
	text-align: center;
}
.select-list > li:first-child{
	padding-bottom: 30px;
}
.select-list > li > a{
	width: 500px;
	border: var(--color-gray) solid 1px;
	border-radius: 80px;
	padding: 30px 0;
	display: block;
	cursor: pointer;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-large);
}

/* 입력칸 */
.input-wrapper input{
	display: block;
	background: #f7f7f7;
	border: none;
	padding: 15px 10px;
	margin: 15px 0px;
	border-radius: 15px;
	font-size: var(--font-size-normal);
}
.input-wrapper label{
	display: block;
	color: #4f4f4f;
	font-size: var(--font-size-small);
}
.input-wrapper select{
	display: block;
	background: #f7f7f7;
	border: none;
	padding: 15px 10px;
	margin: 15px 0px;
	border-radius: 15px;
	font-size: var(--font-size-normal);
}
.radio-wrapper{
	position: relative;
}
.radio-wrapper input[type="radio"]{
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translate(0, -50%);
}
.radio-wrapper label{
	border-radius: 15px;
	border: 2px solid var(--color-gray-text);
	padding: 15px 50px 15px 40px;
}
.radio-wrapper input[type="radio"]:checked + label{
	border: 2px solid var(--color-point);
}

/* 로그인 */
.login-form{
	border-radius: 15px;
	background: var(--color-white);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	padding: 30px 50px;
}
.login-form .title{
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xxlarge);
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid var(--color-gray);
}
.login-form .input{
	width: 500px;
	border: none;
	border-bottom: var(--color-gray) 1px solid;
	outline: none;
	font-size: var(--font-size-large);
	padding: 15px 5px;
	margin: 15px 0px;
}
.login-form .submit{
	width: 100%;
	border-radius: 50px;
	padding: 20px 0;
	font-size: var(--font-size-large);
}

/* 회원가입 */
.signup-form{
	border-radius: 15px;
	background: var(--color-white);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	padding: 30px 50px;
}
.signup-form .title{
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xxlarge);
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid var(--color-gray);
}
.signup-form label{
	display: block;
	color: #4f4f4f;
	font-size: var(--font-size-small);
}
.signup-form input{
	display: block;
	width: 450px;
	background: #f7f7f7;
	border: none;
	padding: 15px 10px;
	margin: 15px 0px;
	border-radius: 15px;
	font-size: var(--font-size-normal);
}
.search-wrapper{
	position: relative;
}
.search-wrapper input{
	background: #f7f7f7;
	border: none;
	padding: 15px 50px 15px 15px;
	margin: 15px 0px;
	border-radius: 15px;
	font-size: var(--font-size-normal);
}
.search-wrapper img{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0, -50%);
}
.no-drag{
	-webkit-user-drag: none;
}
.hover-pointer:hover{
	cursor: pointer;
	background: var(--color-gray);
}
.hover-pointer:hover .hover-text{
	color: var(--color-black);
}
.contain-img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.over-hidden{
	overflow: hidden;
}
.over-scroll{
	overflow: scroll;
}
.over-y-scroll{
	overflow-y: scroll;
}
.over-auto{
	overflow: auto;
}
.mh-600{
	min-height: 600px;
}
.h-200{
	height: 200px;
}
.h-95{
	height: 95px;
}
.h-30{
	height: 30px;
}
.h-20{
	height: 20px;
}
.w-50{
	width: 50px;
}
.w-300{
	width: 300px;
}
.w-400{
	width: 400px;
}
.w-500{
	width: 500px;
}
.w-800{
	width: 800px;
}
.table{
	width: 100%;
	border-collapse: collapse;
}
.table thead{
	border-bottom: 1px solid var(--color-gray-text);
}
.table th:not(:last-child){	
	border-right: 1px solid var(--color-gray-text);
}
.table th{
	padding: 5px 10px;
	background: var(--color-gray);
	white-space: nowrap;
}
.table td:not(:last-child){
	border-right: 1px solid var(--color-gray-text);
}
.table td {
	padding: 5px;
	text-align: center;
	font-size: var(--font-size-small);
	white-space: nowrap;
}
.table tr{
	border-bottom: 1px solid var(--color-gray-text);
}
