@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}
a{
	text-decoration: none;
	color: var(--color-black);
}
body{
	min-height: 100vh;
	position: relative;
}
#header{
	background: var(--color-white);
	border-bottom: 1px solid var(--color-gray);
	padding: 35px 0;
}
.nav{
	list-style: none;
	display: flex;
	align-items: center;
}
.nav li a{
	display: block;
	font-family: 'Cute Font', cursive;
	font-size: var(--font-size-xlarge);
	color: var(--color-black);
	padding: 0 20px; 
	border-radius: 15px;
}
.nav li a:hover{
	background: var(--color-gray);
}
#main{
	padding-bottom: 80px;
}
#footer{
	background: #bcbcbc;
	padding: 30px 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#footer p{
	text-align: center;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-small);
	color: var(--color-white);
}
.bound{
	width: 1000px;
	margin: 0 auto;
}