@charset "UTF-8";
.menu-btn{
	user-select: none;
}
.menu-btn:hover{
	text-decoration: underline;
	cursor: pointer;
}
.user-menu{
	list-style: none;
	border: 3px solid #b2b2b2;
	position:fixed;
	background: #fff;
}
.user-menu li{
	text-align: center;
}
.user-menu li:not(:last-child){
	border-bottom: 1px solid #ecebeb;
}
.user-menu li a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	padding: 3px 15px;
	display: block;
	user-select: none;
}
.user-menu li a:hover{
	text-decoration: underline;
}
.user-menu li a:active{
	background: #dbdbdb;
}